window.eDP-1 * {
  font-size: 15px;
  border-radius: 0px;
  font-family: "JuliaMono", "Hack Nerd Font";
  min-height: 0px;
  min-width: 0px;
}

window#waybar {
    background: #384252;
    color:  #d8dee9;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 1.0;
}

#tags button{
    font-size: 12px;
    padding: 0px 15px 0px;
    color: #d8dee9;
}

/*#tags button:hover{*/
    /*font-size: 12px;*/
    /*padding: 0px 15px 0px;*/
    /*color: #5E81AC;*/
    /*background-color: #B48EAD;*/
/*}*/

#tags button.occupied{
    font-size: 12px;
    padding: 0px 15px 0px;
    background-color: #d8dee9;
    color: #404040; 
}

#tags button.occupied:hover {
	font-size: 12px;
	padding: 0px 15px 0px;
	color: #d8dee9;
	background-color: #5E81AC; 
}


#tags button.urgent{
    font-size: 12px;
    padding: 0px 15px 0px;
    color: #B48EAD;
}

#tags button.urgent:hover {
	font-size: 12px;
	padding: 0px 15px 0px;
	background-color: #B48EAD;
}

#tags button.focused {
    font-size: 12px;
    padding: 0px 15px 0px;
    color: #d8dee9;
    background-color: #5E81AC;
}

#tags button.focused:hover {
	font-size: 12px;
	padding: 0px 15px 0px;
	background-color: #d8dee9;
	color: #5E81AC;
}

#custom-media {
    font-size: 15px;
    background-color: #a3be8c;
    color: #404040;
    padding: 0px 12px 0px;
}

#battery {
   font-size: 15px; 
   padding: 0px 7px 0px;
   color: #c5c8c6;
}

#backlight {
   font-size: 15px; 
  padding: 0px 10px 0px;
  color: #d8dee9;
}
#custom-quit {
   font-size: 8px; 
  padding: 10px;
  color: #d8dee9;
}

#clock {
  font-size: 15px; 
  padding: 0px 10px 0px;
  background-color: #ebcb8b;
  color: #404040;
  border-radius: 4px;
}
#pulseaudio {
   font-size: 15px; 
  padding: 0px 10px 0px;
  color: #d8dee9;
}

#network {
   font-size: 15px; 
  color: #d8dee9;
  padding: 0px 10px 0px;
}
#custom-ping {
   font-size: 15px; 
  color: #d8dee9;
  padding: 0px 10px 0px 0px;
}
#tray {
	padding: 0px 5px;
}
#custom-weather {
  font-size: 15px; 
  padding: 0px 10px 0px;
  background-color: #b48ead;
  color: #D5DBE6;

}
