window {
margin: 10px;
border: 5px solid #81a1c1;
padding: 10px;
background-color: #2e3440;
border-radius: 6px;
}

#input {
margin: 5px;
}

#inner-box {
margin: 5px;

}

#outer-box {
margin: 15px;
}

#scroll {
margin: 5px;
}

#text {
    margin: 5px;
}

